includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    scanFiles:
        - vendor/pestphp/pest-plugin-laravel/src/Console.php

    paths:
        - src/
        - tests/
        - config/

    level: 5

    ignoreErrors:
        -
            identifier: larastan.noEnvCallsOutsideOfConfig
            path: config/sqlite.php
